* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body{
    /* border: 3px solid rgb(29, 29, 138); */
}

html{
    /* border: 3px solid rgb(178, 178, 226); */
}

header {
    padding-block: clamp(0.5rem, 3vh, 2rem);
    text-align: center;
    font-size: 2.5rem;
}

.container {
    border: 4px solid pink;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.game-board {
    border: 0.2rem solid rosybrown;
    width: clamp(120px, 100vw, 550px);
    height: clamp(120px, 100vw, 550px);
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    padding: 4px;
    gap: 4px;
}

.square {
    border: 1px solid rgb(170, 251, 89);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 6px;;
}

.btn{
    width: 180px;
    height: 40px;
    font-size: 1rem;
}

.square:hover{
    background-color: rgb(235, 255, 247);
}

.player-turn{
    margin-top: 40px;
    border: 2px solid rgb(220, 182, 255);
    padding: 10px;
}

footer {
    position: fixed;
    font-size: 1rem;
    bottom: 0px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(220, 182, 255);
    /* align-items: end; */
}

footer>span{
    border: 2px solid rgb(220, 182, 255);
    transition: all 2s;
    opacity: 0;
}

footer:hover>span{
opacity: 1;
}

a{
    text-decoration: none;
}

a:visited{
    color: black;
}