* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    border: 0.1rem solid rgb(178, 178, 226);
}

header {
    padding-block: clamp(0.5rem, 3vh, 2rem);
    text-align: center;
    font-size: 2.5rem;
}

.container {
    border: 0.2rem solid pink;
    padding: 4rem 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.game-board {
    border: 0.2rem solid rosybrown;
    width: clamp(120px, 100vw, 550px);
    height: clamp(120px, 100vw, 550px);
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    padding: 4px;
    gap: 4px;
}

.square {
    border: 1px solid rgb(170, 251, 89);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 6px;;
}

.btn{
    width: 180px;
    height: 40px;
    font-size: 1rem;
}

.square:hover{
    background-color: rgb(235, 255, 247);
}